*\\#
server/mtt_config.php
server/php/stats/mtt-contrib.pdf
server/php/tmp/*.csv
server/php/tmp/*.png

*.pyc
.DS_Store
db.sqlite3
*/mttscratch

server/reporters/script-v3php-to-json/flat.json
server/reporters/script-v3php-to-json/pretty.json

server/storage/cherrypy/__pycache__
server/storage/cherrypy/*.pyc
server/storage/cherrypy/src/*.pyc
server/storage/cherrypy/src/webapp/*.pyc
server/.htaccess
server/storage/cherrypy/tmp
server/storage/cherrypy/log
server/storage/cherrypy/src/env
server/storage/cherrypy/src/.*.pid
server/storage/cherrypy/bin/mtt_server_config.ini

server/storage/datastore/postgres-v3/mtt-backup-*.gz
