#main {
    margin: auto;
    border: 1px solid black;
    overflow: auto;
    width: auto;
    font-size: 14px;
    background-color: orange;
    position: static;
}

#leftcolumn {
    margin: 5px;
    float:left;
    width: 450px;
    border: 1px solid black;
    background-color: lightgreen;
    position: static;
}

#center {
    margin: auto;
    float:left;
    /*border: 1px solid black;*/
    background-color: lightseagreen;
    position: static;
}

#rightcolumn {
    float: left;
    text-align: center;
    margin: 5px;
    background-color: lightblue;
    position: static;
}

#phases {
    /*margin: 5px;*/
    border-bottom: 1px solid black;
    position: static;
}

#search {
    width: auto;
    margin: auto;
    padding: 5px;
    position: static;
}

#search table {
    /*min-width: 400px;*/
}

#table {
    width: auto;
    margin: 50px auto auto;
}

#toolbar {
    width: auto;
    height: 30px;
    text-align: center;
    border: 1px solid black;
    background-color: lightcoral;
    position: static;
}

.primary {
    height: 30px;
    position: static;
}

.primary:hover {
    background-color: lightgray;

}

.secondary {
    height: 20px;
    position: static;
}

.secondary:hover {
    background-color: lightgray;
}

/* For multi-select */
.custom-header {
    text-align: center;
    color: #ffffff;
    background: black;
    position: static;
}

/*Drilldown*/

table.dataTable tbody td.selected {
    background-color: #bec9df;
}


/* new design */

#topbar {
    font-family: Arial;
    text-align: right;
    position: static;
}

.extend {
    min-width: 1400px;
    height:200px;
    padding: 10px;

    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;

    -webkit-box-shadow: inset -10px -10px 50px -17px rgba(0,0,0,0.75);
    -moz-box-shadow: inset -10px -10px 50px -17px rgba(0,0,0,0.75);
    box-shadow: inset -10px -10px 50px -17px rgba(0,0,0,0.75);

    font-family: Arial;
    position: static;
}

.col1, .col2, .col3, .col4 {
    float:left;
    margin-right: 5px;
    position: static;
}

.col1 {
    width: 25%;
}

.col2 {
    width: 21%;
}

.col3 {
    width: 27%;
}

.col4 {
    width: 25%;
    text-align: right;
}

.toolbarwrapper{
    margin: auto;
    overflow: auto;
    clear: both;
    position: static;
}

#sqlbox{
    background-color: lightblue;
    position: static;
}

    .sqltextfields input {
        width: 200px;
        position: static;
    }

    .blankrow { height: 25px !important; }
    #showrow { text-align: center; }

    #datetd1{
        margin-right: 500px;
        width:119px;
    }

    #startdate , #enddate {
        text-align: center;
        width: 65px;
        position: static;
    }

    #reldate {
        width: 102px;
    }

    #columnwrapper{  }

    .sqltoolbars{
        width: 25%;
        text-align: center;
        float: left;
        position: static;
    }

    #sqltoolbar1{
        width: 48%;
        position: static;
    }



#settingsbox{
    display:none;
    background-color: lightskyblue;
    margin-left:10px;
    z-index: 100;
    position: static;
}

.ms-list {
    height: 150px !important;
}

.hide {
    display: none;
}



/* details table design */
#details-report {}

.detailsTable table {
    margin-top:10px;padding:0px;
    width:100%;
    border:1px solid #000000;
    white-space: normal;
}.detailsTable th {
    width: 130px;
    background-color: steelblue;
    color: aliceblue;
     border:0px solid #000000;
 }.detailsTable tr:nth-child(odd) { background-color: #eeeeee }
  .detailsTable tr:nth-child(even){ background-color: white }
  .detailsTable td{
      font-size: 14px;
  }



  pre {
      white-space: pre-line;
      font-size:10px;
  }



  /* pagination */

.pagination{
    margin: 10px;
}

#count {
    float: left;
    margin-top: 10px;
    margin-right: 20px;
}

#textCount {
    float:left;
    margin-top: 10px;
}

.green{
    background-color: lightgreen;
}

.red{
    background-color: lightcoral;
}

.yellow{
    background-color: lightyellow;
}

.orange{
    background-color: lightsalmon;
}
