#main {
    margin-bottom: 20px;
}

#main, #main div {
    border: 1px solid black;
}

#phases {
    margin: 0px;
}

.custom-header {
    text-align: center;
    color: #ffffff;
    background: black;
}